:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(50, 162, 190);
}

main {
  background-color: lightblue;
  margin-left: 20rem;
  margin-top: 0.5rem;
  margin-right: 20rem;
}

#Daily {
  font-size: 2.3rem;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  color: rgb(52, 75, 97);
  padding-top: 2rem;
}
#middle {
  display: flex;
  flex-direction: row;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}
.busy-kit {
  padding-right: 1rem;
  padding-left: 1rem;
  width: 35rem;
}
.list li {
  text-align: center;
  padding: 16px;
}
.list li a {
  color: white;
}

ul.list {
  padding: 0;
  width: 100%;
}

.end {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: grey;
  list-style-type: none;
}

.end li {
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: underline black;
}

h3 {
  color: black;
  margin-bottom: 1rem;
  margin-top: 0rem;
}

p {
  margin-top: 1rem;
}

.busy-kit-left {
  width: 30rem;
  border: 5px solid black;
}

a {
  text-decoration: none;
}
.busy-kit-left h4 {
  padding-left: 10px;
}

.busy-kit-left img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 0px;
  padding-top: 0px;
}

.top-four {
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 100%;
  margin: 0;
}
.top-four li {
  text-decoration: underline black;
  background-color: rgb(50, 162, 190);
}

.top-four ul {
  background-color: rgb(50, 162, 190);
}

footer {
  background-color: grey;
}
